
    /*body {
        background-image: url('2\ photos\ added.jpg');
        background-repeat: no-repeat;
        background-attachment:local;
        background-size: cover;
      }*/

  

.bolded {
    font-size: 2rem;
    color: #FFD700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bubblegum Sans", sans-serif;
}


.navbar {
    background: #fff;
    background-image: linear-gradient(to top, #0096FF 0%, #0000FF 100%);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; 
    position:sticky;
    top: 0;
    z-index: 999;

}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 0px;
}

#navbar__logo {
    background-color: #FFEA00;
    background-image: linear-gradient(to top, #FFEA00 50%, #FFF 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Fuzzy Bubbles", sans-serif;
    padding: 0%;
    padding-right: 25%;
    padding-left: 5%;
    top: 30%;
}

.fa-gem {
    margin-right:  0.1rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
}

.navbar__item {
    height: 80px;
    padding: 5%;
    align-items: center;
}

.navbar__links {
    color: #FFD700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-size: 2rem;
}

.navbar__btn {
  position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    color: none;
    padding-left: 20%;
    padding-right: 0%;
}

.button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 50%;
    width: 100%;
    background: #FFD700;
    color: #0000FF;
}



.button:hover {
    background: #FFEA00;
    transition: all 0.3s ease;
    transform: scale(1.2)
}

.navbar__links:hover {
    color: #FFD700;
    transition: all 0.3s ease;
    transform: scale(1.2)
}

@media screen and (max-width: 1000px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: relative;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #0096FF;
        width:100%
    }

    .navbar__menu.active {
        background: #0096FF;
        background-image: linear-gradient(to top, #fff -50%, #0096FF 100%);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
        width:200vh;
        padding: 0%;
    }

    #navbar__logo {
       padding-left: 0%;
       position: absolute;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
        align-items: center;
        align-self: center;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    
    #mobile-menu {
        position: absolute;
        top: 30%;
        right: 10%;
        transform: translate(5%, 20%);
    }


    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 60px;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        display: none;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(0px) rotate(45deg)
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
    }
}



  .main {
    background-color: #0096FF;
  }

  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    height: 75vh;
    background-color: none;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
  }

  .p1 {
    font-family: "Optima", sans-serif;
  }

  .main__content h1 {
    font-size: 4rem;
    background-color: #FFEA00;
    background-image: linear-gradient(to top, #FFEA00 0%, #fff3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    position: absolute;
    left: 700px;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color:  #FFEA00;
    text-align: center;
    align-items: center;
    position: relative;
    left: 50%;
    right:50%;
    top: 12vh;
  }

.main__btn {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 10%;
    width: 50%;
    border: 5%;
    border-color: #FFD700;
    outline:#FFEA00;
    border-radius: 4px;
    background: #00008B;
    color: #00008B;
    cursor: pointer;
    top: -50%;
    position:relative;
    font-size: 2rem;
    right: 25%;
    left: 25%;
    background-color: none;
    z-index: 99 !important;

}

.main__btn:Hover {
    color:#00008B;
    background-color: #00008B;
    scale: 1.2;
    transition: all 0.3s ease;
}




.header-image {
    background-image: url("haha-feet.png"), linear-gradient(#00008B 10%, #FFF 100%);
    top: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }

  .header-image-text {
    align-items: center;
    text-align: center;
    font-size: 5rem;
    color: linear-gradient(to top, #00008B -75%, #00008B  100%);
    font-weight: 500;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    @-moz-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    @-webkit-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    @-o-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    @-ms-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    } 
  
  
  h1 {
   
    background: linear-gradient(to top, #fff , #0000FF  );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


@media only screen and (min-width: 768px) {
    .header-tucked .branding {
      opacity: 0;
    }
}
  
  
  
  ;
  @media only screen and (max-width: 670px) {
    .stub {
      right: 0;
      left: auto;
      top: 0;
      bottom: auto;
    }
    .stub:hover .pagenav {
      display: block;
      position: absolute;
      top: 100%;
      left: -3px;
    }
  }
.main {
  background-color: #0096FF;
}

.body {
  background-color: #0096FF;
  width:100%;
  height:100%;
  margin: 0;
}
.header-imag {
  background-image: url("MicrosoftTeams-image.png"), linear-gradient(#00008B 10%, #FFF 100%);
  top: 100%;
  background-position: center;
  background-attachment: fixed;
  color: black;
  background-repeat: no-repeat;
  height: 55rem;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__content1 p {
  margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color:  #FFEA00;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 250px;
    right:250px;
    top: 1400px;

}

.products {
  height: 100%;
  width: 100%;
}

.products_img {
  background-position: center;
  background-attachment:fixed;
  color: black;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
}

.main__content2 p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color:  #FFEA00;
  text-align: center;
  align-items: center;
  position: absolute;
  left: 10%;
  right:10%;
  top: 1100px;
}

.socials {
  overflow:hidden;
  height: 60px;
  width: 60px;
  z-index: 99 !important;
  position:relative;
  top: 50%;
  left: 30%;
  cursor: pointer;
}

.socials img {
  height: 100%;
  width: 100%;
}

.footer {
  width: 100%;
  height: 20%;
  background: #fff;
    background-image: linear-gradient(to top, #0096FF 0%, #0000FF 100%);
z-index: 9;
}

.socials-text {
  position: relative;
  top:-20%;
  left: 0%;
  color:#FFD700;
  font-size: 2rem;
  margin: auto;
  padding: 0px;
  overflow:visible;
  z-index: 99 !important;
  width:40vh;
}

.socials-text p{
width:100%;
height:100%;
  }


.socials2 {
  overflow:visible;
  height: 60px;
  width: 60px;
  z-index: 9 !important;
  position:relative;
  top: 17%;
  left: 50%;
  cursor: pointer;
}

.socials2 img {
  height: 100%;
  width: 100%;
}

.socials3 {
  overflow:visible;
  height: 60px;
  width: 60px;
  z-index: 99 !important;
  position:relative;
  top: -17%;
  left: 0%;
  cursor: pointer;
}
.socials3:hover {
  scale: 1.2;
  transition: all 0.3s ease;
}
.socials2:hover {
  scale: 1.2;
  transition: all 0.3s ease;
}
.socials:hover {
  scale: 1.2;
  transition: all 0.3s ease;
}


.socials3 img {
  height: 100%;
  width: 100%;
}
