
    /*body {
        background-image: url('2\ photos\ added.jpg');
        background-repeat: no-repeat;
        background-attachment:local;
        background-size: cover;
      }*/


    

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bubblegum Sans", sans-serif;
}

.navbar {
    background: #fff;
    background-image: linear-gradient(to top, #00008B 50%, #00008B 100%);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; 
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #FFEA00;
    background-image: linear-gradient(to top, #FFEA00 0%, #FFEA00 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.fa-gem {
    margin-right:  0.1rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #FFD700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #FFD700;
    color: #0000FF;
}


.button:hover {
    background: #0096FF;
    transition: all 0.3s ease;
    transform: scale(1.2)
}

.navbar__links:hover {
    color: #0096FF;
    transition: all 0.3s ease;
    transform: scale(1.2)
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #0096FF;
    }

    .navbar__menu.active {
        background: #0096FF;
        background-image: linear-gradient(to top, #fff -50%, #0096FF 100%);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
       padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 60px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        display: none;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(0px) rotate(45deg)
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
    }
}


  /* Hero Sction CSS 
  .main {
    background-color: #0096FF;
  }*/

  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: none;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }

  .p1 {
    font-family: "Optima", sans-serif;
  }

  .main__content h1 {
    font-size: 4rem;
    background-color: #FFEA00;
    background-image: linear-gradient(to top, #FFEA00 0%, #fff3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color:  #FFEA00;
  }

.main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 6%;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #00008B;
    color: #00008B;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main__btn:Hover {
    color:#00008B;
    background-color: #00008B;
    scale: 1.2;
    transition: all 0.3s ease;
}


.main__img {
    display:sticky;
    max-width: 1rem;
    max-height: 1rem;
}

.h1 {
    align-items: center;
}

.Cleaning {
    align-items: center;
}

.header-image {
    background-image: url("haha-feet.png"), linear-gradient(#00008B 10%, #FFF 100%);
    top: 100%;
    background-position: center;
    background-attachment: fixed;
    color: black;
    background-repeat: no-repeat;
    height: 30rem;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-image-text {
    align-items: center;
    text-align: center;
    font-size: 5rem;
    color:#FFD700;
  }